{% load i18n fb_tags %}
{% load url from future %}

<div class="breadcrumbs">
    <a href="../../">{% trans "Home" %}</a>
    &rsaquo;
    {% if breadcrumbs or breadcrumbs_title %}
        <a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,filename,p" %}">{% trans 'FileBrowser' %}</a>
    {% else %}
        {% trans 'FileBrowser' %}
    {% endif %}
    {% for item in breadcrumbs %}
        &rsaquo;
        {% if not forloop.last %}
            <a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,filename,p" %}&amp;dir={{ item.1|urlencode }}">{{ item.0 }}</a>
        {% else %}
            {% if breadcrumbs_title %}
                <a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,filename,p" %}&amp;dir={{ item.1|urlencode }}">{{ item.0 }}</a>
            {% else %}
                {{ item.0 }}
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if breadcrumbs_title %}
        &rsaquo;
        {{ breadcrumbs_title }}
    {% endif %}
</div>
