{% load i18n fb_tags fb_versions %}
{% load url from future %}
<tbody>
{% for fileobject in page.object_list %}
    {% if fileobject.filetype == "Image" %}
        {% version_object fileobject settings_var.ADMIN_THUMBNAIL as thumbnail_version %}
    {% endif %}
{% if result.form.non_field_errors %}
    <tr><td colspan="{{ result|length }}">{{ result.form.non_field_errors }}</td></tr>
{% endif %}
<tr class="{% cycle 'row1' 'row2' %}{% if fileobject.filetype == "Folder" %} fb_folder{% endif %}">
    {% for item in result %}{{ item }}{% endfor %}
        <!-- EDIT -->
        <td>
            <a href="{% url 'filebrowser:fb_detail' %}{% query_string "" "p" %}&amp;filename={{ fileobject.filename|urlencode }}"><strong>{% trans "Edit" %}</strong></a>
        </td>
        
        <!-- FILEICON -->
        <td>
            {% if fileobject.filetype %}
                <span class="fb_type {{ fileobject.filetype|lower }}">{% trans fileobject.filetype %}</span>
            {% else %}
                <span class="fb_type none">&mdash;</span>
            {% endif %}
        </td>
        
        <!-- FILENAME/DIMENSIONS -->
        {% if fileobject.filetype == "Folder" %}
            <td><a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "q,dir,p" %}&amp;dir={{ fileobject.directory|urlencode }}"><strong>{{ fileobject.filename }}</strong></a></td>
        {% else %}
            <td>
                <strong>{{ fileobject.filename }}</strong>
                {% if fileobject.dimensions %}
                    <br /><span class="small">{{ fileobject.dimensions.0 }} x {{ fileobject.dimensions.1 }} px</span><br clear="all" />
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FOLDER -->
        {% if query.q and settings_var.SEARCH_TRAVERSE %}
        <td><a href="{% url 'filebrowser:fb_browse' %}{% query_string "" "dir,p" %}&amp;dir={{ fileobject.folder|urlencode }}"><strong>{{ fileobject.folder }}</strong></a></td>
        {% endif %}
        
        <!-- SIZE -->
        <td>{% if fileobject.filesize %}{{ fileobject.filesize|filesizeformat }}{% else %}&mdash;{% endif %}</td>
        
        <!-- DATE -->
        <td>{{ fileobject.datetime|date:"N j, Y" }}</td>
        
        <!-- THUMBNAIL -->
        <td class="fb_thumbnail">
            {% if fileobject.filetype == "Image" %}
                <a href="{{ fileobject.url }}" class="fb_viewlink"><img src="{{ thumbnail_version.url }}" title="{% trans 'View Image' %}" /></a>
            {% endif %}
        </td>
</tr>
{% endfor %}
</tbody>
