{% load i18n fb_tags %}
<h3>{% blocktrans with filter_title=title %} By Date {% endblocktrans %}</h3>
<ul>
    <li><a href="{% query_string "" "filter_date,p" %}">{% trans "Any Date" %}</a></li>
    <li{% if query.filter_date == "today" %} selected="selected"{% endif %}><a href="{% query_string "" "filter_date,p" %}&amp;filter_date=today">{% trans "Today" %}</a></li>
    <li{% if query.filter_date == "past7days" %} selected="selected"{% endif %}><a href="{% query_string "" "filter_date,p" %}&amp;filter_date=past7days">{% trans "Past 7 days" %}</a>
    <li{% if query.filter_date == "thismonth" %} selected="selected"{% endif %}><a href="{% query_string "" "filter_date,p" %}&amp;filter_date=thismonth">{% trans "This Month" %}</a>
    <li{% if query.filter_date == "thisyear" %} selected="selected"{% endif %}><a href="{% query_string "" "filter_date,p" %}&amp;filter_date=thisyear">{% trans "This year" %}</a>
</ul>

<h3>{% blocktrans with filter_title=title %} By Type {% endblocktrans %}</h3>
<ul>
    <li><a href="{% query_string "" "filter_type,p" %}">{% trans "All" %}</a></li>
    {% for extension in settings_var.EXTENSIONS %}
    <li{% if query.filter_type == extension %} selected="selected"{% endif %}><a href="{% query_string "" "filter_type,p" %}&amp;filter_type={{ extension }}">{% trans extension %}</a>
    {% endfor %}
</ul>
