{% load admin_list fb_tags %}
{% load i18n %}
<p class="paginator">
{% if page_range %}
{% for i in page_range %}
    {% ifequal i page_num %}
        {{ i|add:"1" }}
    {% else %}
        <a href="{% query_string "" "p" %}&amp;p={{ i|add:"1" }}">{{ i|add:"1" }}</a>
    {% endifequal %}
{% endfor %}
{% endif %}
{% if query.q or query.filter_date or query.filter_type %}
    {{ filelisting.results_current }} {% ifequal filelisting.results_current 1 %}{% trans 'result' %}{% else %}{% trans 'results' %}{% endifequal %}
{% endif %}
{% if query.q or filelisting.results_total != filelisting.results_current %}
    <a href="{% query_string "" "filter_date,filter_type,p,q" %}" class="total">{{ filelisting.results_total }} {% trans 'total' %}</a>
{% else %}
    {{ filelisting.results_total }} {% trans "total" %}
{% endif %}
</p>
