{% extends "admin/delete_confirmation.html" %}

<!-- LOADING -->
{% load i18n fb_tags fb_versions %}
{% load url from future %}

<!-- BREADCRBUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
    <p>{% blocktrans with fileobject.filename as escaped_object %}Are you sure you want to delete "{{ escaped_object }}"? All of the following items will be deleted:{% endblocktrans %}</p>
    <ul>
        <li>{{ fileobject.filename }}</li>
    </ul>
    {% if filelisting %}
        <ul>
            {% for item in filelisting %}
                <li>{{ item.path_relative_directory }}</li>
            {% endfor %}
        <ul>
    {% endif %}
    {% if additional_files %}
        <ul>
            <li>{% blocktrans with additional_files as escaped_object %}... and {{ escaped_object }} more Files.{% endblocktrans %}</li>
        </ul>
    {% endif %}
    <form action="{% url 'filebrowser:fb_delete' %}{% query_string %}" method="get">{% csrf_token %}
    <div>
    <input type="hidden" name="post" value="yes" />
    <a href="{% url 'filebrowser:fb_delete' %}{% query_string %}" class="button">{% trans "Yes, I'm sure" %}</a>
    </div>
    </form>
{% endblock %}
