{% extends "admin/change_list.html" %}

<!-- LOADING -->
{% load i18n fb_tags fb_pagination admin_static %}
{% load url from future %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}change-list{% if query.pop %} popup{% endif %}{% endblock %}
{% block content-class %}{% endblock %}

{% block coltype %}flex{% endblock %}

{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="content-main">
    {% block object-tools %}
        <ul class="object-tools">
            <li><a href="{% url 'filebrowser:fb_createdir' %}{% query_string '' 'p' %}" class="addlink">{% trans "New Folder" %}</a></li>
            <li><a href="{% url 'filebrowser:fb_upload' %}{% query_string '' 'p' %}" class="state-focus">{% trans "Upload" %}</a></li>
        </ul>
    {% endblock %}
    <div id="changelist" class="module filtered">
        <div id="toolbar">
            <form id="changelist-search" action="." method="get">
                <div>
                    <label for="searchbar"><img src="{% static "admin/img/icon_searchbox.png" %}" alt="Search" /></label>
                    <input type="text" size="40" name="q" value="{{ query.q }}" id="searchbar" />
                    {% if query.filter_type %}<input type="hidden" name="filter_type" value="{{ query.filter_type }}" />{% endif %}
                    {% if query.filter_date %}<input type="hidden" name="filter_date" value="{{ query.filter_date }}" />{% endif %}
                    {% if query.o %}<input type="hidden" name="o" value="{{ query.o }}" />{% endif %}
                    {% if query.ot %}<input type="hidden" name="ot" value="{{ query.ot }}" />{% endif %}
                    {% if query.type %}<input type="hidden" name="type" value="{{ query.type }}" />{% endif %}
                    {% if query.format %}<input type="hidden" name="format" value="{{ query.format }}" />{% endif %}
                    {% if query.dir %}<input type="hidden" name="dir" value="{{ query.dir|urlencode }}" />{% endif %}
                    <input type="submit" value="{% trans 'Search' %}" />
                </div>
            </form>
        </div>
        {% block filters %}
            <div id="changelist-filter">
                <h2>{% trans 'Filter' %}</h2>
                {% include "filebrowser/include/filter.html" %}
            </div>
        {% endblock %}
        <form id="changelist-form" action="." method="get">{% csrf_token %}
            {% if filelisting.results_current %}
                <div class="results">
                    <table id="result_list">
                        {% include "filebrowser/include/tableheader.html" %}
                        {% include "filebrowser/include/filelisting.html" %}
                    </table>
                </div>
            {% endif %}
            {% pagination %}
        </form>
    </div>
</div>
{% endblock %}
